.navbarH1 {

	color: white

}

.back {

	background-color: #d0ece7;
	border: 2px solid   #73c6b6 ;
	border-radius: 8px;
	height: 0px;
	width: 	0px;
}

.front {

	background-color:   #ebdef0 ;
	border: 2px solid   #c39bd3 ;
	border-radius: 8px;
	height: 0px;
	width: 0px;

}

#card {
	height: 250px;
	width: 450px;
}

table {
	margin-top: 15px;
}

h2, h3 {
	font-family: 'Noto Serif', serif;
}
